NEXT_PUBLIC_APP_NAME=AI Money Mentor
SESSION_COOKIE_NAME=ai-money-mentor-session
GEMINI_API_KEY=AIzaSyD2E8CpjEgH9ZGI60XToN7gPGuUzIHRAGw
SUPABASE_URL=https://gotcaiifhjhigjrofbxl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvdGNhaWlmaGpoaWdqcm9mYnhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MjY2OTEsImV4cCI6MjA5MDAwMjY5MX0.lzbd8lR8ZWngm-hElr219ROIpKh5zCaWOFvSaQabhW4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvdGNhaWlmaGpoaWdqcm9mYnhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDQyNjY5MSwiZXhwIjoyMDkwMDAyNjkxfQ.EvqEKZ_SI3KpsPkmlVUV46pST5xvPTeIXgqPYsotvMI
